body {
    background: url('http://www.nationalgeographic.com/content/dam/photography/PROOF/2017/April/epic-landscapes/16-9154838_uploadsmember516662yourshot-516662-9154838jpg_ekc3qcvrtc4diwvyxwqwxf74bezxs2udwatjavjxeftgooyp4jfa_5760x3840.ngsversion.1492194605387.adapt.1190.1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Roboto" !important;
}

div.tile {
    padding: 10px;
    background: rgba(0, 0, 0, .25);
}

#title {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    font-size: 22px;
}

iframe {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#top_left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    display: flex;
}

#date_time_wrapper {
    display: flex;
    flex-direction:column;
}

#date {
    font-size: 16px;
}

#weather_icon_wrapper {
    display:flex;
    flex-direction:column;
    margin-left: 10px;
}





